*,
*::before,
*::after {
  outline: none !important;
}

* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  background: #2e2e2e;
  background: #f4d04e;
  padding: 219px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  width: 384px;
  background: #fff;
  padding: 24px;
  margin: 0 auto;
  box-shadow: 8px 8px 0px 0px #000000;
  border: 1px solid black;
}

img.hero {
  border-radius: 10px;
  outline: 4px dotted aqua;
}

button.learn-btn {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 800;
  padding: 6px 14px;
  border-radius: 4px;
  background-color: #f4d04e;
  border: none;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #111111;
}

p {
  color: #6b6b6b;
  font-weight: 500;
}
.profile-wrap {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 12px;
}

.profile-wrap img {
  width: 32px;
  height: 32px;
}
.profile-wrap p {
  font-weight: 800;
  font-size: 14px;
  color: #000;
}
